<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <activePackageSource>
        <!-- All non-disabled sources are active -->
        <add key="All"
             value="(Aggregate source)" />
    </activePackageSource>
    <config>
        <defaultPushSource>https://pkgs.dev.azure.com/marttech/Result/_packaging/Result/nuget/v3/index.json</defaultPushSource>
    </config>
</configuration>